*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: red;
    height: 100vh;
    
    display: grid;
    
    grid-template-columns:repeat(3,1fr)
    grid-template-rows: 30px 1fr 80px;
    
    row-gap:5px;
    column-gap:5px;

.item{
    /* height:122px;
    width:122px; */
    background-color: aqua;
    color:white;
text-align: center;
}

.item1{
    color:rgb(6, 6, 6);
    background-color: rgb(1, 1, 1);
   grid-column-start: 1;
   grid-column-end: 4;
}
.footer{
    color:white;
    background-color: black;
    grid-column-start: 1;
   grid-column-end: 4; 
}
#btn{
    margin-top: 20px;
    padding:2px 8px;
    border-radius:5px;
    background-color: black;
    color:white;

}
